@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/*Zerando o CSS*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* Fundo da tela*/
html{
    width: 100vw;
    height: 100vh;
    font-size: 62.5%; /*essa medida é para ao deccorrer do projeto estar UTILIZANDO reim? rain? height???  que é uma prática responsiva, porém este prersente site não está acessível. */
    color: whitesmoke;
    font-family: 'Lato', sans-serif;    
}

body{
    background: linear-gradient(rgba(90, 65, 10, 0.575), rgba(146, 55, 55, 0.699)), url(img.JPG);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}

/* Menu- Header -NavBar */
header {
    width: 100%;
    height: 7vh;
    background-color: rgba(7, 6, 5, 0.322);
}

.menu-content {
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
}

.logo {
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
    cursor: pointer;
}
.menu-content .list-itens {
    display: flex;
    list-style: none;
    gap: 10px;

}

.menu-content .list-itens a {
    text-decoration: none;
    color:blanchedalmond;
    padding: 1.5rem;
    transform: 2ms ease-in;
    position: relative;
}

.menu-content .list-itens a:before {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 1px;
    background-color:darkorange;
    transition: all 1.5s ease;
}

.menu-content .list-itens a:hover:before{
    width:100%;    
}

/* Centro - Conteúdo Principal */
main{
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*  Textos conteúdo principal*/
.primary-text {
    width: 850px;
    font-size: 5rem;
    margin-bottom: 2rem;
    text-align: center;
    color: whitesmoke
}

.second-text {
    margin-bottom: 7rem;
    font-size: 2rem;
    color:rgb(243, 230, 172);
    text-transform: uppercase;
}

/* Botões */
.btns { /** aqui ém a "capsula" do botão, a caixa em si.*/
    display: flex;
    justify-content: center;
    gap: 20px;
}




.btns button {
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid whitesmoke;
    color:antiquewhite;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
    font-size: 16px;
}

.btns button:hover{
    color:blanchedalmond;
}

.btns button:hover:before{
        width:100%;
        border: none;
    }
    
.btns button:before{
    border-radius: 20px;
    content: ' ';
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 60px;
    background-color: rgba(129, 61, 44, 0.856);
    z-index: -1;
    transition: 1s;
}

.btns btn-exp{
   
}